{% extends 'account/base_for_account.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Signup</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" name="username" id="username" required>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" name="password" id="password" required>
            <div class="invalid-feedback">
                Please enter a password.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
    {% if error %}
        <p class="text-danger">{{ error }}</p>
    {% endif %}
</div>
{% endblock %}
