{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">{% if object %}Edit Clothing{% else %}Add New Clothing{% endif %}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.name.label_tag }}
      {{ form.name|add_class:"form-control" }}
      {% if form.name.errors %}
        <div class="invalid-feedback">
          {{ form.name.errors.as_text }}
        </div>
      {% endif %}
    </div>

    <div class="mb-3">
      {{ form.photo.label_tag }}
      {{ form.photo|add_class:"form-control" }}
      {% if form.photo.errors %}
        <div class="invalid-feedback">
          {{ form.photo.errors.as_text }}
        </div>
      {% endif %}
    </div>

    <div class="mb-3">
      {{ form.type.label_tag }}
      {{ form.type|add_class:"form-select" }}
      {% if form.type.errors %}
        <div class="invalid-feedback">
          {{ form.type.errors.as_text }}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">{% if object %}Update{% else %}Add{% endif %}</button>
  </form>
</div>
{% endblock %}
